body {
    background-color: lightgray;
    font-family: "Oswald", sans-serif
}

.contenitore2 {
    background-color: lightpink;
    margin: 0 auto;
    width: 420px;
    height: 33px;
    
    
    
    
}

.contenitore {
    background-color: #2181FF;
    width: 320px;
    height:440px;
    padding: 10px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    
}

.figurina {
    background-image: url(./paco\ giordano.jpg);
    background-size: cover;
    width: 316px;
    height: 358px;
    border: 2px solid black;
    transition: background-image 1s ease-out;
}

.figurina:hover{
    background-image: url(./paco\ giordano1.jpg);
    
}

.nome {
    background-color:transparent;
    width: 316px;
    height: 22px;
    font-size: 14px;
    text-align: right;
}

.didascalia {
    background-color:#D2B06A; 
    width: 311px;
    height: 40px;
    font-size: 14px;
    position: relative;
    text-align: right;
    line-height: 20px;
    border: solid black 2px;
    padding-right: 5px;
}

.logo {
    background-color: #2181FF;
    position: absolute;
    width: 60px;
    height: 80px;
    top: 340px;
    left: 21px;
    border: black solid 2px;
   
}

.logo img {
    width: 60px;
    margin-top: 8px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#D2B06A ;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    
    
    
}

ul li {
    float: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #2181FF;
    box-sizing: border-box;
    
    
} 

ul li:last-child{
    border: none;
}

ul li a {
    text-decoration: none;
    color: #2181FF;
    display: inline-block;
    height: 100%;
    width: 105px;
    text-align: center;
    background-color: #D2B06A;
    
}




ul li a:hover {
    background-color:#2181FF;
    color: #D2B06A;
}

img {
    width: 25%;
    padding: 2px;
}