body {
    background-color: lightgray;
    font-family: sans-serif;

}

.contenitore {
    display: block;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 720px){
    .contenitore {
     background-color: white;
        width: 80%;
    }
        
   
}

@media screen and (min-width: 1024px){
    .contenitore {
     background-color: white;
        width: 60%;
    }    
   
}

table {
    width: 100%;
    text-align: left;
}

table, th, td {
    border: solid black 1px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    height: 48px;
}

td {
    height: 50px;
    vertical-align: middle;
}

tbody tr:hover {
    background-color: rgb(104, 233, 226);
    cursor: pointer;
    transition: 1.5s ease-out;
}

tr:nth-child(even){
    background-color: rgb(193, 195, 197);
}

thead tr {
    color: whitesmoke;
    background-color: rgb(238, 118, 97);
}

.età {
    text-align: center;
}

img {
    width: 40px;
    
}

.logo {
    text-align: center;
}

.logo1 {
    text-align: center;
}